@import "variables";
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $light-color;
}
body {
  background-color: $body-color;
  margin-right: $ten-pixel;
  /*Scrollbar bar on the right side of my window*/
  &::-webkit-scrollbar {
    width: $padding-basic + 2px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: $ten-pixel;
    background-color: white;
  }
}
a {
  text-decoration: none;
}
main {
  padding: $padding-basic $padding-basic $padding-basic $youtube-img;
}
/******************* Making the header ****************/
header {
  position: sticky;
  top: 0;
  z-index: 3;
  padding: $padding-basic;
  background-color: $body-color;
  padding-right: $ten-pixel;
}
#header-container {
  @include flex-align;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: $ten-pixel;
  .youtube-logo {
    @include flex-align;
    gap: $padding-basic;
    cursor: pointer;
  }
  /*////////////////// Search Bar ///////////////////*/
  .search-bar-container {
    @include flex-align;
    flex-basis: 52%;
    gap: $ten-pixel;
    max-width: 700px;
    .search-bar {
      @include flex-align;
      @include borders-bar;
      overflow: hidden;
      flex: 1;

      input {
        outline: none;
        border: none;
        background: transparent;
        flex: 1;
        padding: $padding-basic;
        font-size: 16px;
        padding-left: $border;
      }
      label {
        background-color: $gray-color;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  /************Notification icons and profile*********/
  span {
    @include button-reset;
    padding: $padding-basic;
    border-radius: 50%;

    &:hover {
      background-color: $gray-light;
    }
  }
  .notifications {
    @include flex-align;
    gap: 16px;
  }
  .left-mic {
    margin-right: 200px;
  }
}

/*******************Labels or tags of interests*********************/
nav {
  .interests {
    overflow: auto;
    white-space: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }

    li {
      @include borders-bar($ten-pixel);
      display: inline-block;
      margin-right: $padding-basic;
      background-color: $gray-color;
      padding: $padding-basic 13px;
      &:hover {
        cursor: pointer;
        background-color: $gray-light;
      }
    }
    .arrows {
      border-radius: 50%;
      position: sticky;
      border: none;
      background-color: $body-color;
      // background-color: linear-gradient(90deg, $body-color, $gray-light);
    }
    .arrows.one {
      left: 0;
    }
    .arrows.two {
      right: 0;
    }
  }
}
.profile-img img {
  width: $profile-size;
  height: $profile-size;
  border-radius: 50%;
  cursor: pointer;
}
/******************Now the Principal VIDEOS ****************************/
.many-videos {
  @include grid-videos;
  margin-top: $border;
  .videos {
    .thumbnail {
      width: 290px;
      height: 180px;
      display: block;
      line-height: 0;
      border-radius: $border;
    }
    &:hover {
      transform: scale(1.2);
      transition: all 1.3s;
      .thumbnail {
        border-bottom-left-radius: initial;
        border-bottom-right-radius: initial;
        transition: all 1.5s;
      }
      .videos-description {
        background: $gray-light;
        transition: all 1.3s;
        border-bottom-left-radius: $border;
        border-bottom-right-radius: $border;
      }
    }
    #{"&-" + "description"} {
      display: flex;
      gap: $ten-pixel;
      padding: $padding-basic 0px;
      @include videos-shorts-description;
    }
  }
}
/***********Shorts Videos**************/
#section-shorts {
  border-top: solid 5px $gray-color;
  border-bottom: solid 5px $gray-color;
  margin: 26px auto;
  .align-short-logo {
    @include flex-align;
    gap: $ten-pixel;
    margin-top: $border;
    img {
      width: $border;
      height: $border;
    }
    h2 {
      font-weight: 200;
    }
  }
  .section-shorts-container2 {
    @include flex-and-gap;
    gap: $ten-pixel;
    padding: $youtube-img 0;
    .shorts {
      flex-basis: 230px;
      img {
        height: 370px;
        width: 100%;
        border-radius: $border;
      }
      #{"&-" + "description"} {
        padding: $padding-basic 0px;
      }
    }
    .shorts-description {
      @include videos-shorts-description;
    }
  }
}
/***********------Shorts Videos Hidden-----**************/
#expand-more {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: -30px;
  &:hover {
    background-color: $gray-light;
  }
}
.hidden {
  display: none;
}
/****************Left Bar menu Aside*********************/
aside {
  width: 250px;
  position: fixed;
  top: 100px;
  bottom: 0;
  left: -400px;
  overflow-y: hidden;
  transition: 0.9s;
  background-color: $body-color;
  .left-bar-icons {
    border-bottom: solid 2px $gray-color;
    padding: $ten-pixel $ten-pixel;
    .add-more {
      display: none;
    }
  }
  .left-bar-icons li {
    @include flex-align;
    gap: 10px;
    width: 100%;
    padding: $ten-pixel $border;
    cursor: pointer;
    &:hover {
      @include borders-bar($ten-pixel, none);
      background-color: $gray-light;
    }
  }
  &:hover {
    overflow-y: auto;
  }
  &::-webkit-scrollbar {
    width: $padding-basic + 2px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: $ten-pixel;
    background-color: white;
  }
  h3 {
    font-weight: 300;
  }
}
.deploy {
  transform: translateX(400px);
}
/************Media screen responsive*******************/
@media (max-width: 450px) {
  main {
    overflow: hidden;
    padding-left: $padding-basic;
  }
  #header-container {
    flex-wrap: wrap;
    #menu {
      display: none;
    }
    .search-bar-container {
      display: none;
    }
  }
  .arrows.one,
  .arrows.two {
    display: none;
  }

  .many-videos {
    justify-items: stretch;
    grid-template-columns: auto;
    .videos .thumbnail {
      width: 100%;
    }
  }
  #section-shorts {
    .section-shorts-container2 {
      flex-wrap: nowrap;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .shorts {
        img {
          border-radius: initial;
          width: 200px;
        }
      }
    }
    #expand-more {
      display: none;
    }
    .hidden {
      display: revert;
    }
  }
}
